/* ButtonStyle.css */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
}

.upload-container {
  text-align: center;
}

.button-style {
  background-color: #535b41; /* A verdant hue */
  color: rgb(252, 251, 251);
  padding: 10px 24px;
  border-radius: 10px;
  cursor: pointer;
  width: 140px;
  height: 60px;
}
.delete-style {
  background-color: #535b41; /* A verdant hue */
  color: rgb(252, 251, 251);
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}
.delete-container {
  background-color: #D3D8C3; /* Sage green */
  transition: padding 30s ease;/*more seemless transition*/
  padding-top: 10px; /* Initial padding top */
  padding-bottom: 10px; /* Initial padding bottom */
}
ul {
  padding: 0; /* Remove default padding */
}
.button-style:hover {
  background-color: rgba(142, 142, 104, 0.9);
}

.upload-style {
  display: block;
  text-align: center;
  line-height: 150%;
  background-color: #535b41; /* A verdant hue */
  color: rgb(252, 251, 251);
  border-radius: 10px;
  cursor: pointer;
  width: 140px;
  height: 42px;
  font-size: 15px;
  padding-top: 12%;

}

.upload-style:hover {
  background-color: rgba(142, 142, 104, 0.9);
}