/* ButtonStyle.css */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
}

.upload-container {
  text-align: center;
}

.button-style {
  background-color: #535b41; /* A verdant hue */
  color: rgb(252, 251, 251);
  padding: 10px 24px;
  border-radius: 10px;
  cursor: pointer;
  width: 140px;
  height: 60px;
}
.button-style:hover {
  background-color: rgba(142, 142, 104, 0.9);
}

.upload-style {
  display: block;
  text-align: center;
  line-height: 150%;
  background-color: #535b41; /* A verdant hue */
  color: rgb(252, 251, 251);
  border-radius: 10px;
  cursor: pointer;
  width: 140px;
  height: 42px;
  font-size: 15px;
  padding-top: 12%;

}

.upload-style:hover {
  background-color: rgba(142, 142, 104, 0.9);
}