/* ButtonStyle.css */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align:center;
}

.button-style {
  background-color: #535b41; /* A verdant hue */
  color: rgb(252, 251, 251);
  padding: 10px 24px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 140px;
  height: 60px;
}

.upload-style {
  background-color: #535b41; /* A verdant hue */
  color: rgb(252, 251, 251);
  padding: 10px 24px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 95px;
  height: 40px;
  font-size: 15px;
  justify-content: center;
}