/* RetakePhoto.css */

.retake-photo input[type="button"]{
    margin: 7rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  