.about-us-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(229, 235, 224, 0.9);
}

.about-us-title {
  color: #535b41;
  padding: 30px;
}

.mission-statement-box {
  background-color: #535b41;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 8px 8px #8e8e68;
}

.team-title-container {
  margin-top: 50px; /* Adjust as needed */
}

.team-title-box {
  padding: 5px;
  background-color: #535b41;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 8px 8px #8e8e68 ;
}

.team-title-box:hover {
  background-color: #8e8e68; /* Optional: Change background color on hover */
}

.team-box-container {
  border: 2px solid #535b41;
  border-radius: 5px;
  margin-top: 20px; /* Adjust as needed */
}

.team-box {
  background-color: #8e8e68;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 6px 6px #535b41;
  margin-bottom: 100px;

}

.our-team-title {
  color: white;
  padding: 20px;
}

.team-member {
  margin-bottom: 60px;
}

.team-member h2 {
  color: #535b41;
}