/* Styles for About Us page */
.about-us-content {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
  }

  .about-us-title {
    color:#535b41;
    padding: 20px;
  }

  .our-team-title {
    color:#535b41;
    padding: 20px;
  }

  .team-box {
    background-color: #8e8e68;
    padding: 20px;
    border-radius: 5px;
  }
  
  .team-member {
    margin-bottom: 20px;
  }
  /* Team Member name*/
  .team-member h3 {
    color: #535b21;
    margin-bottom: 5px;
  }
  /* Description of team member*/
  .team-member p {
    color: #f8f7f5;
  }

  .mission-statement-box {
    background-color: #535b41;
    padding: 10px;
    border-radius: 5px;
  }